@media screen and (max-width: 768px) and (min-width: 485px) {
  form {
    max-width: 70%;
  }
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:active {
  color: #940000;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

.center-block {
border: 1px solid black;
margin: .5em;

}

.navbar {
	background: #000080;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

              /*********************   navigation    **************************/

.topNav {
	background: #000080;
	padding: 25px 0;
	overflow: hidden;
	color: white;
	width: 100%;
}

.topNav nav {
  float: right;
  margin-top: 15px;
}

.topNav nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 16px;
  color: white;
}

.topNav nav ul li a {
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .mainNav a:not(:first-child) {display: none;}
  .mainNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 485px) {
  form {
    max-width: 70%;
  }
}

@media screen and (max-width: 528px) and (min-width: 320px) {
  form {
    max-width: 70%;
  }
}

@media screen and (max-width: 667px) and (min-width: 360px) {
  form {
    max-width: 70%;
  }
}

@media screen and (max-width: 736px) and (min-width: 414px) {
  form {
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  form {
    max-width: 70%;
  }
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
  background: #159C92;
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.image {
  max-width: 600px;
  float: left;
  margin-left: 190px
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}
.copyright, .mainNav {
  text-align: center;
  text-decoration: none;
  color: white;
}

.containerResponsive > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #ad0000;
}

.sec-main {
  position: relative;
  height: 560px;
  background: url("../Images/PortfolioHomePage.jpg") no-repeat center center;
  background-size: cover;
}

.sec-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 48px;
  font-weight: 800;
  color: white;
  width: 100%;
}

.mainNav {
  color: white;
  float: left;
  width: 100%;
}


              /*********************   body    **************************/


img {
	max-width: 100%;
	height: auto;
}

.containerOne {
  padding: 30px;
}

.contactContainer
{
  width: 960px;
  margin: 0 auto;
  padding: 100px;
  background: #DCDCDC;
  margin-top: 20px;
  border-style: double;
}

.comment
{
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 75px;
  height: 100px;
  width: 500px;

}

.sideContent {
	padding: 10px;
    border: 5px solid black;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.bottomContent {
	padding: 10px;
    border: 5px solid black;
    width: 71%;
    margin: 0 auto;
}

.bottomContent {
	clear: both;
	padding: 40px;
}

.containerImage {
	margin-left: 100px;
	padding: 30;
}

.imageOne {
	max-width: 320px;
	padding: 10px;
  text-align: center;
}

.imageTwo {
	float: left;
	max-width: 320px;
	padding: 10px;
  text-align: center;
}

.projects {
  margin-top: 100px;
}

.projectColumnOne {
  margin: 0 auto;
	padding: 10px;
  max-width: 1200px;
}

.projectColumnTwo {
  margin: 0 auto;
	padding: 10px;
  max-width: 1200px;
}

.firstSite {
	border: 3px solid black;
}

.secondSite {
	border: 3px solid black;
}

.thirdSite {
	border: 3px solid black;
}

.fourthSite {
	border: 3px solid black;
}

.checkGithub {
  margin: auto;
  text-align: center;
  padding: 30px;
  clear: both;
}

.firstProject {
	padding: 10px;
	vertical-align: middle;
}

.secondProject {
	padding: 10px;
	vertical-align: middle;
}

.thirdProject {
	padding: 10px;
	vertical-align: middle;
}

.fourthProject {
	padding: 10px;
	vertical-align: middle;
}

.projectTitle {
	margin: auto;
    width: 50%;
    text-align: center;
    height: 50%;
}
.projectContent {
	margin: auto;
    width: 50%;
    text-align: center;
    height: 50%;
}

.checkGithub {
	margin: auto;
	text-align: center;
	padding: 30px;
}

p {
	font-size: 14px;
}

.resources {
	float: left;
	max-width: 960px;
	margin-left: 280px;
	margin-right: 50px;
}

.firstRes {
	border: 3px solid black;
	width: 100%;
}

.secondRes {
	border: 3px solid black;
	width: 100%;
}

.first {
	padding: 10px;
}

.secondPost {
	padding: 10px;
}

.thirdPost {
	padding: 10px;
}

.form {
	padding: 20px;
	margin-left: 580px;

}

.contentContainerImage {
	float: left;
	padding: 30;
	width: 600px;
	padding-top: 10px;
}

.jeffContent {
	border: 3px solid black;
	padding: 20px;
}
.contentContainerImageTwo {
	float: left;
	padding: 30;
	width: 600px;
	padding-top: 10px;
}
.userContent {
	border: 3px solid black;
	padding: 20px;
}
.html {
	max-width: 100px;
  max-height: 100px;
  text-align: center;
  width: 33%;
}

.css {
	max-width: 100px;
  max-height: 100px;
  text-align: center;
  width: 33%;
}

.javascript {
  max-width: 100px;
  max-height: 100px;
  text-align: center;
  width: 33%;
}

.portfolioImage {
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.contentContainer {
	border: 5px solid black;
	text-align: center;
  clear: both;
}

.servicesContent {
	padding: 20px;
    width: 71%;
    margin: 0 auto;
}

.aboutMeImage {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.aboutMeContainer {
	padding: 10px;
  border: 5px solid black;
  margin: 0 auto;
  text-align: center;
  clear: both;
  width: 70%;
  font-size: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.aboutMe {
	text-align: center;
}

              /*********************   footer    **************************/
.bottom {
	background-color: rgb(95, 158, 160);
	clear: both;
	margin-top: 20px;
}

.containerTwo {
  width: 960px;
  margin: 0 auto;
  padding: 60px;
  clear: both;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}